﻿<!doctype html>
<html lang="en">
<head>
    <title>Dealer Track File Upload</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .custom-file-input ~ .custom-file-label::after {
            content: "Browse";
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Dealer Track File Upload</h1>
                <p class="lead">Welcome to the Dealer Track File Upload page. You can use this page to upload a certain csv file to view its contents.</p>
                <hr class="my-4">
                <p>To start, please follow the steps below:</p>
                <p>1. Click the browse button and from the file chooser window, select the desired file you need to upload.</p>
                <p>2. Hit the upload button.</p>
            </div>

            <form>
                <div class="form-group">
                    <div class="custom-file" id="customFile">
                        <input type="file" class="custom-file-input" id="file" ref="file" v-on:change="handleFileUpload()">
                        <label class="custom-file-label" for="file">
                            {{fileName}}
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" v-on:click="uploadFile()" class="btn btn-primary">Upload</button>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Deal Number</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Dealership Name</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="deal in deals">
                        <th scope="row">{{deal.Number}}</th>
                        <td>{{deal.CustomerName}}</td>
                        <td>{{deal.DealershipName}}</td>
                        <td>{{deal.Vehicle}}</td>
                        <td>{{deal.Price | formatCurrency}}</td>
                        <td>{{deal.Date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">{{messageBox.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{messageBox.body}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                file: null,
                fileName: "",
                messageBox: {
                    title: "",
                    body: ""
                },
                deals: []
            },
            methods: {
                handleFileUpload: function(){
                    this.file = this.$refs.file.files[0];
                    this.fileName = this.file.name;
                },

                uploadFile: function () {
                    var extension = vm.getFileExtension(this.fileName);
                    if (extension != "csv")
                    {
                        vm.showModal("Error", "Unsupported file type. Please make sure that your file is of type CSV");
                        return;
                    }

                    var formData = new FormData();
                    formData.append('file', this.file);

                    axios.post('/api/v1/Upload',
                      formData,
                      {
                          headers: {
                              'Content-Type': 'multipart/form-data'
                          },
                      }
                    ).then(function (data) {
                        var items = data.data;
                        for (index = 0; index < items.length; index++)
                        {
                            Vue.set(vm.deals, index, items[index])
                        }
                        
                        vm.showModal("Success", "The file has been uploaded successfully");
                    })
                    .catch(function (data) {
                        console.log(data);
                        vm.showModal("Error", "An error occured while uploading the file to the server. Please try again");
                    });
                },

                showModal: function (title, body) {
                    Vue.set(vm.messageBox, "title", title);
                    Vue.set(vm.messageBox, "body", body);

                    $('#modal').modal();
                },

                getFileExtension: function (fileName) {
                    return (/[.]/.exec(fileName)) ? /[^.]+$/.exec(fileName)[0] : undefined;
                },
            },
            filters: {
                formatCurrency: function (value) {
                    return "CAD" + numeral(value).format('$0,0.00');
                }
            }
        })
    </script>
</body>
</html>